# Pre-processing and Training

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
os.chdir("C:/Users/adre9/Springboard 2024/Springboard_2024_GH/Capstone Project 2/Notebooks/Capstone 2 Data")

In [3]:
df = pd.read_csv('df.csv')
df.head()

,airline,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,SpiceJet,Delhi,Evening,0,Night,Mumbai,Economy,2.17,1,5953
1,SpiceJet,Delhi,Early_Morning,0,Morning,Mumbai,Economy,2.33,1,5953
2,AirAsia,Delhi,Early_Morning,0,Early_Morning,Mumbai,Economy,2.17,1,5956
3,Vistara,Delhi,Morning,0,Afternoon,Mumbai,Economy,2.25,1,5955
4,Vistara,Delhi,Morning,0,Morning,Mumbai,Economy,2.33,1,5955

In [4]:
df.shape

(297940, 10)

In [5]:
os.chdir("C:/Users/adre9/Springboard 2024/Springboard_2024_GH/Capstone Project 2/Notebooks/EDA")

In [6]:
df.columns

Index(['airline', 'source_city', 'departure_time', 'stops', 'arrival_time',
       'destination_city', 'class', 'duration', 'days_left', 'price'],
      dtype='object')

In [8]:
cat_cols = ['airline', 'source_city', 'departure_time', 'stops', 
              'arrival_time', 'destination_city', 'class']
num_cols = ['duration','days_left','price']

## Encoding the data

In [9]:
# Encoding categorical columns
df_encoded = pd.get_dummies(df, columns=cat_cols, drop_first=True)

# Defining the features and target variables
X_temp = df_encoded.drop(columns=['price'])
y = df['price']

# Scaling the data

In [10]:
# Scaling the data
scaler = MinMaxScaler().fit_transform(X_temp)
X = pd.DataFrame(scaler, columns=X_temp.columns)

## Splitting the data

In [11]:
# Let's take a look at how much possible training data there may be 
# Before deciding how much to split
test_size_pcts = [0.1,0.15,0.2,0.25,0.3]

for i in test_size_pcts:
    print(f'{int(i*100)}%: {i * len(X)}')

10%: 29794.0
15%: 44691.0
20%: 59588.0
25%: 74485.0
30%: 89382.0

In [14]:
# let's do 80/20 split and save it for the modeling step
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
%store X_train X_test y_train y_test

Stored 'X_train' (DataFrame)
Stored 'X_test' (DataFrame)
Stored 'y_train' (Series)
Stored 'y_test' (Series)